/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End reset, starts style.scss */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 481px;
}

.header-top__logo {
  position: absolute;
  color: #5f2eea;
  height: 55px;
  width: 205px;
  left: 45px;
  top: 34px;
  font-size: 34.375px;
  font-weight: 700;
  margin-block: 0px;
  margin-inline: 0px;
}

header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-top nav hr {
  position: absolute;
  width: 28px;
  height: 4px;
  left: 386px;
  border-radius: 30px;
  background-color: #5f2eea;
  border-width: 0px;
  margin-block: 0px;
  margin-inline: 0px;
}

.header-nav__line1 {
  top: 54px;
}

.header-nav__line2 {
  top: 61px;
}

.header-nav__line3 {
  top: 68px;
}

.header-line {
  position: absolute;
  width: 482px;
  height: 0px;
  left: -1px;
  top: 115px;
  transform: rotate(180deg);
  border-top: 1px solid #bca4ff;
  opacity: 0.4;
  margin-block: 0px;
  margin-inline: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

/*End of header. 

START OF WHITE SEARCH SECTION*/
.whiteSearch-text {
  position: absolute;
  width: 421px;
  height: 87px;
  left: 30px;
  top: 192px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #000000;
}

.whiteSearch-box {
  position: absolute;
  width: 421px;
  height: 56px;
  left: 30px;
  right: 30px;
  bottom: -1.82%;
  background: #f7f7fc;
  border: 2px solid #14142b;
  border-radius: 16px;
}

.whiteSearch-box__top {
  top: 279px;
}

.whiteSearch-box__middle {
  top: 360px;
}

.whiteSearch-box__bottom {
  top: 441px;
}

.whiteSearch-box-text {
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  width: 200px;
  height: 28px;
  left: 24px;
  top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #14142b;
}

.position-relative {
  position: relative;
  left: 396.5px;
  top: 27%;
}

.whiteSearch-searchButton {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 522px;
  bottom: 0%;
  width: 421px;
  height: 55px;
  border-radius: 40px;
  background: #ed2e7e;
  color: white;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.75px;
  border: none;
}

.whiteSearch-line {
  position: absolute;
  width: 482px;
  height: 0px;
  left: -1px;
  top: 630px;
  transform: rotate(180deg);
  border-top: 1px solid #d9dbe9;
  margin-block: 0px;
  margin-inline: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

/*End of white search section. 

START OF BLUE SEARCH SECTION*/
.blueSearch {
  background-color: #2a00a2;
  border-radius: 20px;
  position: absolute;
  width: 420px;
  height: 614px;
  left: 31px;
  top: 673px;
}

.blueSearch-title {
  position: absolute;
  width: 90px;
  height: 38px;
  left: 40px;
  top: 30px;
  color: #bca4ff;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
}

.blueSearch-first .blueSearch-text {
  list-style: none;
  position: absolute;
  width: 293px;
  height: 28px;
  left: 38px;
  top: 95px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #f3efff;
}
.blueSearch-first .blueSearch-input {
  list-style: none;
  position: absolute;
  width: 352px;
  height: 59px;
  left: 35px;
  top: 124px;
  background: #eff0f7;
  border-radius: 15px;
}

.blueSearch-second .blueSearch-text {
  list-style: none;
  position: absolute;
  width: 293px;
  height: 28px;
  left: 38px;
  top: 196px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #f3efff;
}
.blueSearch-second .blueSearch-input {
  list-style: none;
  position: absolute;
  width: 352px;
  height: 59px;
  left: 35px;
  top: 225px;
  background: #eff0f7;
  border-radius: 15px;
}

.blueSearch-third .blueSearch-text {
  list-style: none;
  position: absolute;
  width: 293px;
  height: 28px;
  left: 38px;
  top: 298px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #f3efff;
}
.blueSearch-third .blueSearch-input {
  list-style: none;
  position: absolute;
  width: 352px;
  height: 59px;
  left: 35px;
  top: 327px;
  background: #eff0f7;
  border-radius: 15px;
}

.blueSearch-fourth .blueSearch-text {
  list-style: none;
  position: absolute;
  width: 293px;
  height: 28px;
  left: 38px;
  top: 399px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #f3efff;
}
.blueSearch-fourth .blueSearch-input {
  list-style: none;
  position: absolute;
  width: 352px;
  height: 59px;
  left: 35px;
  top: 429px;
  background: #eff0f7;
  border-radius: 15px;
}

/* Blue search section elementos comunes. Icono y texto interior*/
.blueSearch-input__text-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 24px;
  top: 20px;
  bottom: 16.67%;
}

.blueSearch-input__text {
  position: absolute;
  width: 200px;
  height: 28px;
  left: 60px;
  top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #14142b;
}

/* Blue search button*/
.blueSearch-searchButton {
  position: absolute;
  left: 40px;
  right: 33px;
  top: 515px;
  width: 347px;
  height: 64px;
  border-radius: 40px;
  background: #ed2e7e;
  color: white;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.75px;
  border: none;
}

/*End of blue search section. 

START OF HOUSING SECTION*/
.housing_h2 {
  position: absolute;
  width: 320px;
  height: 32px;
  left: 32px;
  top: 1335px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #000000;
}

.housing-position {
  position: absolute;
  top: 1401px;
}

.housing-position-02 {
  position: absolute;
  top: 1991px;
}

.housing-position-03 {
  position: absolute;
  top: 2580px;
}

.housing-slideshow {
  position: absolute;
  top: 0px;
  left: 30px;
  display: flex;
}
.housing-slideshow img {
  width: 272px;
  height: 204px;
  margin-inline-end: 20px;
}

.housing-stars {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 30px;
  right: 429px;
  top: 226px;
  display: flex;
}
.housing-stars img {
  margin-inline-end: 8px;
}

section {
  display: flex;
  align-items: center;
}
section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 32px;
  top: 235px;
  width: 478px;
  height: 253px;
}
section article .housing_titles {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #5f2eea;
}
section article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}
section article img {
  width: 16.67px;
  height: 19.17px;
  color: #bca4ff;
}
section article h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #5f2eea;
  margin-left: 15px;
}

.housing-locator {
  display: flex;
  align-items: center;
}

.housing-button {
  position: absolute;
  top: 468px;
  left: 26px;
  width: 172px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #d9dbe9;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-align: center;
  color: #5f2eea;
}

.housing-line {
  position: absolute;
  width: 417px;
  height: 0px;
  left: 34px;
  top: 547px;
  transform: rotate(180deg);
  border-top: 1px solid #d9dbe9;
  margin-block: 0px;
  margin-inline: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

.housing-line-small {
  position: absolute;
  width: 143px;
  height: 0px;
  left: 34px;
  top: 588.5px;
  transform: rotate(180deg);
  border-top: 1px solid #d9dbe9;
  margin-block: 0px;
  margin-inline: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

.housing-line-small2 {
  position: absolute;
  width: 143px;
  height: 0px;
  right: 30px;
  top: 588.5px;
  transform: rotate(180deg);
  border-top: 1px solid #d9dbe9;
  margin-block: 0px;
  margin-inline: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

.housing-arrow {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 560px;
  left: 213px;
}

/*End of housing section. 

START OF FINAL SECTION*/
.final .final_contenido01 {
  position: absolute;
  top: 3237px;
  left: 30px;
  width: 421px;
  height: 124px;
  border: 2px solid #00ba88;
  border-radius: 16px;
}
.final .final_contenido01 img {
  position: absolute;
  width: 23px;
  height: 22px;
  left: 24px;
  top: 27px;
  margin-inline-start: 0;
  margin-inline-end: 17px;
}
.final .final_contenido01 p {
  position: absolute;
  width: 270px;
  height: 88px;
  left: 64px;
  top: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #00966d;
  margin-block-start: 0;
  margin-block-end: 17px;
}
.final .final_contenido01-x {
  position: absolute;
  top: 3296px;
  right: 56.61px;
  width: 11px;
  height: 11px;
}
.final .final_contenido02 {
  position: absolute;
  top: 3401px;
  left: 30px;
  width: 421px;
  height: 151px;
  border: 2px solid #ed2e7e;
  border-radius: 16px;
}
.final .final_contenido02 img {
  position: absolute;
  width: 23px;
  height: 22px;
  left: 24px;
  top: 27px;
  margin-inline-start: 0;
  margin-inline-end: 17px;
}
.final .final_contenido02 p {
  position: absolute;
  width: 300px;
  height: 88px;
  left: 64px;
  top: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #00966d;
  margin-block-start: 0;
  margin-block-end: 17px;
}
.final .final_contenido02-x {
  position: absolute;
  top: 3474px;
  right: 56.61px;
  width: 11px;
  height: 11px;
}
.final .final-contact {
  position: absolute;
  width: 427px;
  height: 462px;
  left: 24px;
  top: 3586px;
}
.final .final-logo {
  position: absolute;
  width: 205px;
  height: 55px;
  left: 138px;
  top: 4082px;
}
.final .final-lorem {
  position: absolute;
  width: 421px;
  height: 246px;
  left: 30px;
  top: 4161px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #4e4b66;
}
.final .final-contactInfo {
  position: absolute;
  width: 121px;
  height: 32px;
  left: 180px;
  top: 4400px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #14142b;
}
.final a {
  position: absolute;
  width: 251px;
  height: 28px;
  left: 115px;
  top: 4455px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #5f2eea;
}
.final .final-address {
  position: absolute;
  width: 325px;
  height: 112px;
  left: 90px;
  top: 4501px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #6e7191;
}

/*# sourceMappingURL=style.css.map */
