@use "variables";
@use "reset";

* {
    box-sizing: border-box;
    font-family: variables.$font-stack;
}

.header-top__logo {
    position: absolute;
    color: variables.$primary-default-color;
    height: 55px;
    width: 205px;
    left: 45px;
    top: 34px;
    font-size: 34.375px;
    font-weight: 700;
    margin-block: 0px;
    margin-inline: 0px;
}

header {
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            hr {
                position: absolute;
                width: 28px;
                height: 4px;
                left: 386px;
                border-radius: 30px;
                background-color: variables.$primary-default-color;
                border-width: 0px;
                margin-block: 0px;
                margin-inline: 0px;
            }
        }
    }
}

.header-nav__line1 {
    top: 54px;
}
.header-nav__line2 {
    top: 61px;
}
.header-nav__line3 {
    top: 68px;
}

.header-line {
    position: absolute;
    width: 482px;
    height: 0px;
    left: -1px;
    top: 115px;
    transform: rotate(180deg);
    border-top: 1px solid #bca4ff;
    opacity: 0.4;
    margin-block: 0px;
    margin-inline: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

/*End of header. 

START OF WHITE SEARCH SECTION*/

.whiteSearch-text {
    position: absolute;
    width: 421px;
    height: 87px;
    left: 30px;
    top: 192px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #000000;
}

.whiteSearch-box {
    position: absolute;
    width: 421px;
    height: 56px;
    left: 30px;
    right: 30px;
    bottom: -1.82%;
    background: #f7f7fc;
    border: 2px solid #14142b;
    border-radius: 16px;
}

.whiteSearch-box__top {
    top: 279px;
}
.whiteSearch-box__middle {
    top: 360px;
}
.whiteSearch-box__bottom {
    top: 441px;
}
.whiteSearch-box-text {
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    width: 200px;
    height: 28px;
    left: 24px;
    top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #14142b;
}

.position-relative {
    position: relative;
    left: 396.5px;
    top: 27%;
}

.whiteSearch-searchButton {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 522px;
    bottom: 0%;
    width: 421px;
    height: 55px;
    border-radius: 40px;
    background: variables.$error-color;
    color: white;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.75px;
    border: none;
}

.whiteSearch-line {
    position: absolute;
    width: 482px;
    height: 0px;
    left: -1px;
    top: 630px;
    transform: rotate(180deg);
    border-top: 1px solid #d9dbe9;
    margin-block: 0px;
    margin-inline: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

/*End of white search section. 

START OF BLUE SEARCH SECTION*/

.blueSearch {
    background-color: variables.$primary-dark-color;
    border-radius: 20px;
    position: absolute;
    width: 420px;
    height: 614px;
    left: 31px;
    top: 673px;
}

.blueSearch-title {
    position: absolute;
    width: 90px;
    height: 38px;
    left: 40px;
    top: 30px;
    color: #bca4ff;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
}

.blueSearch-first {
    .blueSearch-first__text {
        list-style: none;
        position: absolute;
        width: 293px;
        height: 28px;
        left: 38px;
        top: 95px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #f3efff;
    }
    .blueSearch-input01 {
        list-style: none;
        position: absolute;
        width: 352px;
        height: 59px;
        left: 35px;
        top: 124px;
        background: #eff0f7;
        border-radius: 15px;
    }
}

.blueSearch-second {
    .blueSearch-second__text {
        list-style: none;
        position: absolute;
        width: 293px;
        height: 28px;
        left: 38px;
        top: 196px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #f3efff;
    }
    .blueSearch-input02 {
        list-style: none;
        position: absolute;
        width: 352px;
        height: 59px;
        left: 35px;
        top: 225px;
        background: #eff0f7;
        border-radius: 15px;
    }
}

.blueSearch-third {
    .blueSearch-third__text {
        list-style: none;
        position: absolute;
        width: 293px;
        height: 28px;
        left: 38px;
        top: 298px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #f3efff;
    }
    .blueSearch-input03 {
        list-style: none;
        position: absolute;
        width: 352px;
        height: 59px;
        left: 35px;
        top: 327px;
        background: #eff0f7;
        border-radius: 15px;
    }
}

.blueSearch-fourth {
    .blueSearch-fourth__text {
        list-style: none;
        position: absolute;
        width: 293px;
        height: 28px;
        left: 38px;
        top: 399px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #f3efff;
    }
    .blueSearch-input04 {
        list-style: none;
        position: absolute;
        width: 352px;
        height: 59px;
        left: 35px;
        top: 429px;
        background: #eff0f7;
        border-radius: 15px;
    }
}

.blueSearch-searchButton {
    position: absolute;
    left: 40px;
    right: 33px;
    top: 515px;
    width: 347px;
    height: 64px;
    border-radius: 40px;
    background: variables.$error-color;
    color: white;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.75px;
    border: none;
}

/* Blue search section elementos comunes. Icono y texto interior*/

.blueSearch-input__text-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 24px;
    top: 20px;
    bottom: 16.67%;
}

.blueSearch-input__text {
    position: absolute;
    width: 200px;
    height: 28px;
    left: 60px;
    top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #14142b;
}

/*End of blue search section. 

START OF HOUSING SECTION*/
