@use "variables";
@use "reset";

* {
    box-sizing: border-box;
    font-family: variables.$font-stack;
    width: 481px;
}

.header-top__logo {
    position: absolute;
    color: variables.$primary-default-color;
    height: 55px;
    width: 205px;
    left: 45px;
    top: 34px;
    font-size: 34.375px;
    font-weight: 700;
    margin-block: 0px;
    margin-inline: 0px;
}

header {
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            hr {
                position: absolute;
                width: 28px;
                height: 4px;
                left: 386px;
                border-radius: 30px;
                background-color: variables.$primary-default-color;
                border-width: 0px;
                margin-block: 0px;
                margin-inline: 0px;
            }
        }
    }
}

.header-nav__line1 {
    top: 54px;
}
.header-nav__line2 {
    top: 61px;
}
.header-nav__line3 {
    top: 68px;
}

.header-line {
    position: absolute;
    width: 482px;
    height: 0px;
    left: -1px;
    top: 115px;
    transform: rotate(180deg);
    border-top: 1px solid #bca4ff;
    opacity: 0.4;
    margin-block: 0px;
    margin-inline: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

/*End of header. 

START OF WHITE SEARCH SECTION*/

.whiteSearch-text {
    position: absolute;
    width: 421px;
    height: 87px;
    left: 30px;
    top: 192px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #000000;
}

.whiteSearch-box {
    position: absolute;
    width: 421px;
    height: 56px;
    left: 30px;
    right: 30px;
    bottom: -1.82%;
    background: #f7f7fc;
    border: 2px solid #14142b;
    border-radius: 16px;
}

.whiteSearch-box__top {
    top: 279px;
}
.whiteSearch-box__middle {
    top: 360px;
}
.whiteSearch-box__bottom {
    top: 441px;
}
.whiteSearch-box-text {
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    width: 200px;
    height: 28px;
    left: 24px;
    top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #14142b;
}

.position-relative {
    position: relative;
    left: 396.5px;
    top: 27%;
}

.whiteSearch-searchButton {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 522px;
    bottom: 0%;
    width: 421px;
    height: 55px;
    border-radius: 40px;
    background: variables.$error-color;
    color: white;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.75px;
    border: none;
}

.whiteSearch-line {
    position: absolute;
    width: 482px;
    height: 0px;
    left: -1px;
    top: 630px;
    transform: rotate(180deg);
    border-top: 1px solid #d9dbe9;
    margin-block: 0px;
    margin-inline: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

/*End of white search section. 

START OF BLUE SEARCH SECTION*/

.blueSearch {
    background-color: variables.$primary-dark-color;
    border-radius: 20px;
    position: absolute;
    width: 420px;
    height: 614px;
    left: 31px;
    top: 673px;
}

.blueSearch-title {
    position: absolute;
    width: 90px;
    height: 38px;
    left: 40px;
    top: 30px;
    color: #bca4ff;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
}

@mixin blueSearchMixin($topPositionText, $topPositionInput) {
    .blueSearch-text {
        list-style: none;
        position: absolute;
        width: 293px;
        height: 28px;
        left: 38px;
        top: $topPositionText;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: #f3efff;
    }
    .blueSearch-input {
        list-style: none;
        position: absolute;
        width: 352px;
        height: 59px;
        left: 35px;
        top: $topPositionInput;
        background: #eff0f7;
        border-radius: 15px;
    }
}

.blueSearch-first {
    @include blueSearchMixin($topPositionText: 95px, $topPositionInput: 124px);
}

.blueSearch-second {
    @include blueSearchMixin($topPositionText: 196px, $topPositionInput: 225px);
}

.blueSearch-third {
    @include blueSearchMixin($topPositionText: 298px, $topPositionInput: 327px);
}

.blueSearch-fourth {
    @include blueSearchMixin($topPositionText: 399px, $topPositionInput: 429px);
}

/* Blue search section elementos comunes. Icono y texto interior*/

.blueSearch-input__text-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 24px;
    top: 20px;
    bottom: 16.67%;
}

.blueSearch-input__text {
    position: absolute;
    width: 200px;
    height: 28px;
    left: 60px;
    top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #14142b;
}

/* Blue search button*/

.blueSearch-searchButton {
    position: absolute;
    left: 40px;
    right: 33px;
    top: 515px;
    width: 347px;
    height: 64px;
    border-radius: 40px;
    background: variables.$error-color;
    color: white;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.75px;
    border: none;
}

/*End of blue search section. 

START OF HOUSING SECTION*/

.housing_h2 {
    position: absolute;
    width: 320px;
    height: 32px;
    left: 32px;
    top: 1335px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #000000;
}

.housing-position {
    position: absolute;
    top: 1401px;
}

.housing-position-02 {
    position: absolute;
    top: 1991px;
}

.housing-position-03 {
    position: absolute;
    top: 2580px;
}

.housing-slideshow {
    position: absolute;
    top: 0px;
    left: 30px;
    display: flex;
    img {
        width: 272px;
        height: 204px;
        margin-inline-end: 20px;
    }
}

.housing-stars {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 30px;
    right: 429px;
    top: 226px;
    display: flex;
    img {
        margin-inline-end: 8px;
    }
}

section {
    display: flex;
    align-items: center;
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 32px;
        top: 235px;
        width: 478px;
        height: 253px;
        h1 {
            font-weight: 600;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.75px;
            color: variables.$primary-default-color;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.75px;
            color: variables.$grey-color;
        }
        img {
            width: 16.67px;
            height: 19.17px;
            color: #bca4ff;
        }
        h2 {
            font-weight: 600;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 0.75px;
            color: variables.$primary-default-color;
            margin-left: 15px;
        }
    }
}

.housing-locator {
    display: flex;
    align-items: center;
}

.housing-button {
    position: absolute;
    top: 468px;
    left: 26px;
    width: 172px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #d9dbe9;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
    color: variables.$primary-default-color;
}

.housing-line {
    position: absolute;
    width: 417px;
    height: 0px;
    left: 34px;
    top: 547px;
    transform: rotate(180deg);
    border-top: 1px solid #d9dbe9;
    margin-block: 0px;
    margin-inline: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.housing-line-small {
    position: absolute;
    width: 143px;
    height: 0px;
    left: 34px;
    top: 588.5px;
    transform: rotate(180deg);
    border-top: 1px solid #d9dbe9;
    margin-block: 0px;
    margin-inline: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.housing-line-small2 {
    position: absolute;
    width: 143px;
    height: 0px;
    right: 30px;
    top: 588.5px;
    transform: rotate(180deg);
    border-top: 1px solid #d9dbe9;
    margin-block: 0px;
    margin-inline: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.housing-arrow {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 560px;
    left: 213px;
}

/*End of housing section. 

START OF final text SECTION*/
